@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
}


// Primary
$orange: hsl(26, 100%, 55%);
$paleOrange: hsl(25, 100%, 94%);

// Neutral
$veryDarkBlue: hsl(220, 13%, 13%);
$darkGrayishBlue: hsl(219, 9%, 45%);
$grayishBlue: hsl(220, 14%, 75%);
$lightGrayishBlue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);

// Black (with 75% opacity for lightbox background)
$black: hsl(0, 0%, 0%);

@mixin media-lg {
    @media screen and (min-width: 768px) {
        @content;
    }
}